@using Microsoft.AspNetCore.Identity
@using davidtsimmons.com.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <button type="submit" class="btn btn-link navbar-btn nav-link">Log out</button>
    </li>
}
else
{
    <li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
</li>
    <li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
</li>
}
