@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <!-- Hero Section -->
    <section class="hero bg-secondary pb-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-light">
                    <h1>Welcome to my blog</h1>
                    <p>Here you'll find all the latest news and insights on technology, design, and more.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
                <div class="col-md-6 mt-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Section -->
    <section class="blog mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-light">
                    <h2>Latest Posts</h2>
                    <div class="card bg-secondary text-light">
                        <div class="card-body">
                            <h5 class="card-title">Post Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
                                fermentum dolor.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-light">
                    <h2>Categories</h2>
                    <ul class="list-group">
                        <li class="list-group-item bg-secondary"><a href="#" class="text-light">Technology</a></li>
                        <li class="list-group-item bg-secondary"><a href="#" class="text-light">Design</a></li>
                        <li class="list-group-item bg-secondary"><a href="#" class="text-light">Culture</a></li>
                        <li class="list-group-item bg-secondary"><a href="#" class="text-light">Opinion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>    